
@font-face {
	font-family: 'Conv_QuattrocentoSans-Regular';
	src: url('../fonts/QuattrocentoSans-Regular.eot');
	src: local('☺'), url('../fonts/QuattrocentoSans-Regular.woff') format('woff'), url('../fonts/QuattrocentoSans-Regular.ttf') format('truetype'), url('../fonts/QuattrocentoSans-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Conv_QuattrocentoSans-Bold';
	src: url('../fonts/QuattrocentoSans-Bold.eot');
	src: local('☺'), url('../fonts/QuattrocentoSans-Bold.woff') format('woff'), url('../fonts/QuattrocentoSans-Bold.ttf') format('truetype'), url('../fonts/QuattrocentoSans-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

// font-family: 'Open Sans', sans-serif;