.services-about{
        padding: 0px 0px 90px;
}
.list-card-services{
	display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.card-service{
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0px;
    .card-icon{
        padding: 15px;
        img{
            max-width: 100%;
            height: auto;
        }
    }
    .card-title{
        margin: 8px 0px 0px 10px;
        text-transform: uppercase;
        font-family: 'Conv_QuattrocentoSans-Regular';
        font-size: 17px;
        color: #000;
    }
    .card-description{
        font-family: 'Open Sans', sans-serif;
        color: #8d8f92;
        font-size: 14px;
        text-align: center;
        line-height: 24px;
    }
}
@media screen and (max-width: 375px){
    .services-about{
        padding: 0px 0px 40px;
    }
    .card-service{
        padding: 25px 0px 0px;
    }
}

