.list-card-features{
	display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    .list-item{
        width: 360px;
        padding: 10px 0px;
    }
}

.card-features{
	.card-image{
	    padding-bottom: 10px;
	    max-width: 360px;
	    img{
		    max-width: 100%;
		    height: auto;
	    }
    }
	.card-title{
        font-size: 18px;
        color: #d7d8d9;
        font-family: 'Conv_QuattrocentoSans-Regular';
        margin: 10px 0px;
        text-transform: uppercase;
        padding-bottom: 10px;
	}
	.card-description{
		font-family: 'Open Sans', sans-serif;
		color: #dcdfe1;
		font-size: 16px;
		text-align: left;
		line-height: 24px;
	}
}
.features-about{
	padding: 1px 0px 90px;
}
@media screen and (max-width: 375px){
	.features-about{
	    padding: 1px 0px 40px;
    }
	.card-features{
		.card-title{
			font-size: 16px;
		}
		.card-description{
			font-size: 13px;
		}
	}
}