.contact-about{
    padding: 0px 0px 90px;
}
.geo-location{
	img{
		max-width: 100%;
		height: auto;
	}
}
.list-card-contact{
	display: flex;
    justify-content: space-around;
    .list-item{
        position: relative;    
    }
}
.card-contact{
    .card-title{
        font-size: 20px;
        font-family: 'Conv_QuattrocentoSans-Regular';
        color: #000;
        text-transform: uppercase;
    }
    .card-description{
        p{
            font-family: 'Open Sans', sans-serif;
            color: #aeafb1;
            font-size: 16px;
            padding-bottom: 15px;
            line-height: 25px;
            span{
                font-weight: 800;
            }
        }       
    }
}
.panel{
	width: 500px;
    background: #fff;
    padding: 20px;
    position: absolute;
    bottom: 15px;
    right: 0px;
}
.form-group-input{
	display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
label{
   font-family: 'Conv_QuattrocentoSans-Regular';
   font-size: 14px;
   color: #eaeef1;
   padding-left: 6px;
}

.form-control {
    width: 95%;
    padding: 4px;
    height: 30px;
    border: 1px solid transparent;
    border-radius: 4px;
    background: #eaeef1;
    font-size: 14px;
    font-family: 'Conv_QuattrocentoSans-Regular';
    color: #23b7a4;
    outline: none;
}
.form-control:focus{
    background: #fff;
    border: 1px solid #23b7a4;
}
.input-left,
.input-right{
	width: 235px;
    display: flex;
    flex-direction: column-reverse;
}

.form-group-textarea{
	padding: 25px 0px 15px 0px;
}

textarea{
    border: 1px solid transparent;
    background: #eaeef1;
    border-radius: 4px;
    width: 97.5%;
    padding: 4px;
    font-size: 14px;
    font-family: 'Conv_QuattrocentoSans-Regular';
    color: #23b7a4;
    outline: none;
}
textarea:focus{
    background: #fff;
    border: 1px solid #23b7a4;
}
.textarea{
    display: flex;
    flex-direction: column-reverse;
}

.button-send{
	padding: 12px 18px;
    background: #23b7a4;
    border: 2px solid transparent;
    border-radius: 4px;
    font-size: 14px;
    font-family: 'Conv_QuattrocentoSans-Regular';
    color: #fff;
    outline: none;
    cursor: pointer;

}
.button-send:hover{
    color: #23b7a4;
    border: 2px solid #23b7a4;
    background: inherit;
}

@media screen and (max-width: 1104px){
    .list-card-contact{
        .list-item{
            text-align: center;
        }
    }
    .panel{
        width: 97%;
        position: inherit;
        text-align: left;
    }
    .input-left,
    .input-right{
        width: 49%;
    }
    .button-send{
        width: 98.5%;
    }
}
@media screen and (max-width: 600px){
    .panel{
        padding: 10px;
    }
    .card-contact{
        .card-description{
            p{
                font-size: 14px;
            }
        }   
        .card-title{
            font-size: 18px;
        }
    }
}
@media screen and (max-width: 375px){
    .contact-about{
        padding: 0px 0px 40px;
    }
    .panel{
        padding: 5px;
    }
    .form-group-actions{
        padding: 0px 5px;
    }
    .button-send{
        width: 100%;
    }
}