.list-card-work{
	display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    padding-bottom: 15px;
    .list-item{
	    cursor: pointer;
	    padding: 7px 7px;    
    }
}

.work-about{
	padding: 1px 0px 90px;
	.form-group-actions{
		text-align: center;
		padding-top: 25px;
		.button-show{
			border: 2px solid #fff;
			color: #fff;
			border-radius: 6px;
			outline: none;
			font-family: 'Conv_QuattrocentoSans-Regular';
			font-size: 14px;
			padding: 15px 20px;
			background: none;
			cursor: pointer;
		}
		.button-show:hover{
            background: #23b7a4;
	        border: 2px solid #23b7a4;
	        outline: none;
		}
	}
}

.card-work{
	position: relative;
	.card-image{
		max-width: 360px;
		img{
		    max-width: 100%;
            height: auto;
	    }
	}
	.card-description{
	    position: absolute;
	    top: 0;
	    width: 100%;
        height: 100%;
	    display: none;
        background: rgba(0, 0, 0, 0.3);
        .card-title{
	        padding: 4px 15px;
            background: #292f36;
            margin-top: 186px;
            p{
    	        font-family: 'Conv_QuattrocentoSans-Regular';
    	        color: #fff;
    	        font-size: 18px;
            }
        }
    }
}
.card-work:hover  .card-description{
	display: flex;
    flex-direction: column;
}
.fa-plus{
	position: relative;
    left: 50%;
    top: 35%;
    display: block;
    font-size: 26px;
    color: #fff;
}

@media screen and (max-width: 375px){
	.work-about{
	    padding: 1px 0px 40px;
	}
	.list-card-work{
		.list-item{
			padding: 20px 7px;
		}
	} 
	.card-work{
		.card-description{
            .card-title{
    	        margin-top: 174px;
    	        padding: 4px 13px;
            }
		}
	}
    
}
@media screen and (max-width: 320px){
	.list-card-work{
		.list-item{
			padding: 10px 7px;
		}
	} 
	.card-work{
		.card-description{
			.card-title{
    	        margin-top: 135px;
            }
		}
	}   
}