.section-aboutus{
	border-bottom: 2px solid #ebeeef;
}
.aboutus-about{
	display: flex;
	justify-content: space-around;
    flex-flow: row wrap;
    padding: 0px 0px 90px 0px;
}

.aboutus-description{
	width: 650px;
	p{
		font-size: 16px;
		color: #8d8f92;
		font-family: 'Open Sans', sans-serif;
        line-height: 24px;
		span{
			font-weight: 800;
		}
	}
}
.list-card-social{
	display: flex;
	padding: 0;
}
.card-social{
	a{
		color: #fff;
		font-size: 18px;
	}
    padding: 20px;
    background: #c8cdd0;
    margin-right: 1px;  
}
.card-social:hover{
	background: #d0d5d9;
}

.list-card-skill{
    padding: 0px;
    .list-item{
        display: flex;
        align-items: end;
    }
}

.price-list{
	padding: 0px;
}
.aboutus-skill{
    padding-top: 7px;
}
.card-skill{
	margin-top: -25px;
    margin-left: 10px;
    .card-title{
        font-family: 'Conv_QuattrocentoSans-Regular';
        font-size: 18px;
        color: #000;
        text-transform: uppercase;
        margin-bottom: 0px;
    }
    .card-description{
        font-size: 16px;
        color: #8d8f92;
        font-family: 'Open Sans', sans-serif;
        line-height: 24px;
        margin-top: 12px;
    }
}
.span1{
    color: #fff;
    font-size: 20px;
    font-family: 'Conv_QuattrocentoSans-Regular';
    display: block;
    width: 50px;
    height: 50px;
    background: #23b7a4;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
}
.span2{
    color: #fff;
    font-size: 20px;
    font-family: 'Conv_QuattrocentoSans-Regular';
    display: block;
    width: 50px;
    height: 50px;
    background: #23b7a4;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
}
.span3{
    color: #fff;
    font-size: 20px;
    font-family: 'Conv_QuattrocentoSans-Regular';
    display: block;
    width: 50px;
    height: 50px;
    background: #23b7a4;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
}

.span1:hover,
.span2:hover,
.span3:hover{
    color: #23b7a4;
    background: #fff;
    border: 1px solid #23b7a4;
}

@media screen and (max-width: 1104px){
    .aboutus-about{
    	padding: 0px 25px;
    }
    .aboutus-description{
    	width: 100%;
    }
    .aboutus-skill{
    	width: 100%;
    }
}
@media screen and (max-width: 375px){
    .aboutus-about{
        padding: 0px 0px 40px 0px;
    }
}